/* .root
{
    width: 140%;
    height: 100vh;
    background-image: url(https://wallpapergod.com/images/hd/cute-black-1920X1200-wallpaper-4s5s8lm9tedk31cl.jpeg);
    background-size: cover;
    position: relative;
    left: -260px;
    overflow: hidden;
    
} */